## Employee Data Analysis and Visualization

In [2]:
# LIBRARIES
import pandas as pd

### Loading the Preprocessed Data for Analysis and Visualization

In [4]:
data = pd.read_csv('C:/Users/rizwa/Desktop/Rizwan/projects/HR_Data_Analysis_and_Visualization/Processed_HR_Data.csv')
data.head()

,Name,Gender,Department,Annual Salary,Location,Performance,Distance to Office,Age,Tenure in Company,Salary Category,Age Group,Distance Category,Experience,Rating
0,Aarti Panchal,Female,CEO,10000000,Mumbai,Very Good,25,31,10.4,Greater than 10 LPA,Between 31-40,Greater than 20km,10-15 Years,5
1,Aastha Behl,Female,Sales,880500,Bengaluru,Very Good,7,43,18.2,8LPA - 10LPA,Greater than 40,Less than 10km,15+ Years,5
2,Abhinaw Sinha,Male,Engineering,682200,Bengaluru,Good,15,28,6.6,6LPA - 8LPA,Less than 30,Between 10-20km,5-10 Years,4
3,Abhishek Dabb,Male,Legal,563700,New Delhi,Very Good,5,39,13.3,4LPA - 6LPA,Between 31-40,Less than 10km,10-15 Years,5
4,Abhishek Kumar Preetam,Male,Support,1070900,New Delhi,Poor,10,26,4.8,Greater than 10 LPA,Less than 30,Less than 10km,2-5 Years,2